<h1>Emprego Já</h1>

<% @jobs.each do |job| %>
  <h1><%= link_to job.title, job_path(job)  %></h1>
  <%= job.category  %>
  <%= job.company  %>
  <%= job.location %>
  <% if job.featured %>
    <strong>Destaque</strong>
  <% end %>
<% end %>
